<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Process Monitor - Floor Monitor | Gramener</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  {% include template-header.html %}
</head>

<body>
  {% set base = '.' %}
  {% include template-navbar.html %}
  {% set data_src = 'data' %}
  {% include template-plant.html %}
  {% include template-footer.html %}
  <script src="simulator.js"></script>
</body>

</html>
